<% if (successMessages.length) { %>
  <div class="alert alert-success app-alert"><%= successMessages[0] %></div>
<% } %>
<% if (errorMessages.length) { %>
  <div class="alert alert-danger app-alert"><%= errorMessages[0] %></div>
<% } %>
